.cap-popover {
  position: absolute;
  z-index: 50;

  $poses: (
    top: bottom,
    bottom: top,
    left: right,
    right: left,
  );

  @each $pose, $value in $poses {
    &[data-popper-placement^="#{$pose}"] {
      &.cap-popover--dark {
        .cap-popover__arrow {
          color: rgba($color: black, $alpha: 0.9);
        }
      }

      &.cap-popover--light {
        .cap-popover__arrow {
          color: rgba($color: white, $alpha: 0.9);
        }
      }

      .cap-popover__arrow {
        #{$value}: -18px;
        @if $pose == "bottom" {
          transform: rotate(180deg);
        } @else if $pose == "left" {
          transform: rotate(-90deg);
        } @else if $pose == "right" {
          transform: rotate(90deg);
        }
      }
    }
  }
  > .cap-popover__content {
    width: 280px;
    filter: drop-shadow(0px 6px 12px rgba(101, 101, 101, 0.25));
    backdrop-filter: blur(10px);
    padding: 16px;
    border-radius: 12px;
    max-width: 280px;
  }

  &--dark {
    > .cap-popover__content {
      background-color: $color-page-mask-black-0-8;
      color: $color-font-color-0-1;
    }
  }

  &--light {
    > .cap-popover__content {
      background-color: $color-page-mask-white-0-8;
      color: $color-font-color-0-8;
    }
  }

  &__header {
    display: flex;
    margin-bottom: 8px;
    > .header__title {
      margin-right: 16px;
    }
    > i {
      color: $color-font-color-0-3;
      margin-left: auto;
      cursor: pointer;

      &:active {
        opacity: 0.6;
      }
    }
  }
  .cap-popover__footer {
    text-align: right;
    padding: 2px 0;
  }

  &[data-popper-reference-hidden] {
    visibility: hidden;
    pointer-events: none;
  }
}
