.cap-cell {
  display: flex;
  align-items: center;
  padding-left: 16px;
  min-height: 48px;
  cursor: pointer;

  .cell-content {
    display: flex;
    align-items: center;
    min-height: 48px;
    height: 100%;
    flex: 1;
    padding-right: 16px;
    border-bottom: 1px solid $color-font-color-0-1;

    .cell__content {
      font-size: 16px;
      line-height: 1.5;
      margin-right: auto;
    }
    .cell__guide-text {
      margin-left: 16px;
    }
  }
}
