:root {
	--color-foundation-black-primary: rgba(0,0,0,1);
	--color-foundation-white-primary: rgba(255,255,255,1);
	--color-acs-golden: rgba(244,205,146,1);
	--color-acs-red: rgba(204,18,45,1);
	--color-acs-blue: rgba(0,38,154,1);
	--color-blue-1: rgba(10,21,94,1);
	--color-blue-2: rgba(0,15,89,1);
	--color-blue-3: rgba(0,21,110,1);
	--color-blue-4: rgba(0,29,132,1);
	--color-blue-5: rgba(0,38,154,1);
	--color-blue-6: rgba(100,129,220,1);
	--color-blue-7: rgba(134,162,237,1);
	--color-blue-8: rgba(176,198,249,1);
	--color-blue-9: rgba(215,227,252,1);
	--color-blue-10: rgba(238,244,255,1);
	--color-font-color-1-0: rgba(56,59,70,1);
	--color-font-color-0-9: rgba(76,79,89,1);
	--color-font-color-0-8: rgba(96,98,107,1);
	--color-font-color-0-7: rgba(116,118,126,1);
	--color-font-color-0-6: rgba(136,137,144,1);
	--color-font-color-0-5: rgba(155,157,163,1);
	--color-font-color-0-4: rgba(175,177,181,1);
	--color-font-color-0-3: rgba(195,196,199,1);
	--color-font-color-0-2: rgba(215,216,218,1);
	--color-font-color-0-1: rgba(235,235,236,1);
	--color-red-1: rgba(97,3,52,1);
	--color-red-2: rgba(118,5,53,1);
	--color-red-3: rgba(146,9,54,1);
	--color-red-4: rgba(175,13,51,1);
	--color-red-5: rgba(204,18,45,1);
	--color-red-6: rgba(224,70,78,1);
	--color-red-7: rgba(239,113,108,1);
	--color-red-8: rgba(249,171,158,1);
	--color-red-9: rgba(252,216,206,1);
	--color-red-10: rgba(255,235,229,1);
	--color-page-mask-000: rgba(0,0,0,0.950);
	--color-page-mask-black-0-8: rgba(0,0,0,0.800);
	--color-page-mask-black-0-6: rgba(0,0,0,0.600);
	--color-page-mask-fff: rgba(255,255,255,1);
	--color-page-mask-white-0-8: rgba(255,255,255,0.800);
	--color-page-mask-white-0-4: rgba(255,255,255,0.400);
	--color-background-white-fff: rgba(255,255,255,1);
	--color-background-background-light: rgba(247,248,249,1);
	--color-background-background-f-6: rgba(246,246,246,1);
	--color-background-background-f-0: rgba(240,240,240,1);
	--color-background-gray-blue-1: rgba(250,251,255,1);
	--color-background-gray-blue-2: rgba(232,237,249,1);
	--color-background-gray-blue-3: rgba(226,229,237,1);
	--color-positive-1: rgba(2,101,93,1);
	--color-positive-2: rgba(3,122,100,1);
	--color-positive-3: rgba(6,151,110,1);
	--color-positive-4: rgba(8,181,115,1);
	--color-positive-5: rgba(12,211,115,1);
	--color-positive-6: rgba(66,228,134,1);
	--color-positive-7: rgba(104,241,148,1);
	--color-positive-8: rgba(156,250,176,1);
	--color-positive-9: rgba(205,252,210,1);
	--color-positive-10: rgba(229,255,232,1);
	--color-info-1: rgba(4,31,120,1);
	--color-info-2: rgba(7,45,146,1);
	--color-info-3: rgba(11,65,181,1);
	--color-info-4: rgba(16,88,216,1);
	--color-info-5: rgba(22,114,252,1);
	--color-info-6: rgba(79,156,253,1);
	--color-info-7: rgba(114,181,254,1);
	--color-info-8: rgba(161,210,254,1);
	--color-info-9: rgba(208,234,254,1);
	--color-info-10: rgba(235,246,255,1);
	--color-warning-1: rgba(122,76,0,1);
	--color-warning-2: rgba(147,96,1,1);
	--color-warning-3: rgba(183,125,2,1);
	--color-warning-4: rgba(219,155,3,1);
	--color-warning-5: rgba(255,188,5,1);
	--color-warning-6: rgba(255,209,67,1);
	--color-warning-7: rgba(255,223,105,1);
	--color-warning-8: rgba(255,236,155,1);
	--color-warning-9: rgba(255,247,205,1);
	--color-warning-10: rgba(255,250,226,1);
	--color-negative-1: rgba(122,9,41,1);
	--color-negative-2: rgba(147,15,41,1);
	--color-negative-3: rgba(183,25,43,1);
	--color-negative-4: rgba(219,36,42,1);
	--color-negative-5: rgba(255,61,50,1);
	--color-negative-6: rgba(255,122,101,1);
	--color-negative-7: rgba(255,159,131,1);
	--color-negative-8: rgba(255,197,173,1);
	--color-negative-9: rgba(255,229,214,1);
	--color-negative-10: rgba(255,244,238,1);
	--color-neumorphism-2: rgba(246,246,246,1);
}
.text-style-regular-12-px-20-px {
	font-size:12px;
	font-weight:normal;
	line-height:20px;
}
.text-style-regular-14-px-22-px {
	font-size:14px;
	font-weight:normal;
	line-height:22px;
}
.text-style-regular-16-px-24-px {
	font-size:16px;
	font-weight:normal;
	line-height:24px;
}
.text-style-regular-18-px-26-px {
	font-size:18px;
	font-weight:normal;
	line-height:26px;
}
.text-style-regular-20-px-28-px {
	font-size:20px;
	font-weight:normal;
	line-height:28px;
}
.text-style-regular-24-px-32-px {
	font-size:24px;
	font-weight:normal;
	line-height:32px;
}
.text-style-regular-30-px-38-px {
	font-size:30px;
	font-weight:normal;
	line-height:38px;
}
.text-style-regular-38-px-46-px {
	font-size:38px;
	font-weight:normal;
	line-height:46px;
}
.text-style-semibold-12-px-20-px {
	font-size:12px;
	font-weight:bold;
	line-height:20px;
}
.text-style-semibold-14-px-22-px {
	font-size:14px;
	font-weight:bold;
	line-height:22px;
}
.text-style-semibold-16-px-24-px {
	font-size:16px;
	font-weight:bold;
	line-height:24px;
}
.text-style-semibold-18-px-26-px {
	font-size:18px;
	font-weight:bold;
	line-height:26px;
}
.text-style-semibold-20-px-28-px {
	font-size:20px;
	font-weight:bold;
	line-height:28px;
}
.text-style-semibold-24-px-32-px {
	font-size:24px;
	font-weight:bold;
	line-height:32px;
}
.text-style-semibold-30-px-38-px {
	font-size:30px;
	font-weight:bold;
	line-height:38px;
}
.text-style-semibold-38-px-46-px {
	font-size:38px;
	font-weight:bold;
	line-height:46px;
}
.effect-style-elevation-01 {
	box-shadow: 0.00px 0.00px 0.00px rgba(0,0,0,0.000);
}
.effect-style-elevation-02 {
	box-shadow: 0.00px 1.00px 2.00px rgba(126,143,211,0.060);
}
.effect-style-elevation-03-❖ {
	box-shadow: 0.00px 2.00px 8.00px rgba(126,143,211,0.060);
}
.effect-style-elevation-04 {
	box-shadow: 0.00px 6.00px 12.00px rgba(126,143,211,0.060);
}
.effect-style-elevation-05 {
	box-shadow: 0.00px 8.00px 16.00px rgba(126,143,211,0.060);
}
.effect-style-elevation-06 {
	box-shadow: 0.00px 10.00px 24.00px rgba(126,143,211,0.060);
}
.effect-style-neumorphism-1 {
	box-shadow: 3.00px 3.00px 10.00px rgba(174,174,192,0.100) , -3.00px -3.00px 10.00px rgba(255,255,255,0.300);
}
.effect-style-neumorphism-2 {
	box-shadow: 6.00px 6.00px 10.00px rgba(174,174,192,0.150) , -6.00px -6.00px 10.00px rgba(255,255,255,0.400);
}
.effect-style-neumorphism-3 {
	box-shadow: 6.00px 6.00px 12.00px rgba(174,174,192,0.180) , -6.00px -6.00px 12.00px rgba(255,255,255,1);
}
.effect-style-neumorphism-1 {
	box-shadow:inset 3.00px 3.00px 10.00px rgba(174,174,192,0.100) ,inset -3.00px -3.00px 10.00px rgba(255,255,255,0.300);
}
.effect-style-neumorphism-2 {
	box-shadow:inset 6.00px 6.00px 10.00px rgba(174,174,192,0.150) ,inset -6.00px -6.00px 10.00px rgba(255,255,255,0.400);
}
.effect-style-neumorphism-3 {
	box-shadow:inset 6.00px 6.00px 12.00px rgba(174,174,192,0.180) ,inset -6.00px -6.00px 12.00px rgba(255,255,255,1);
}